*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.bg {
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url("https://i.imgur.com/wNNA569.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-flex;
    flex-direction: column;
}
.banCountdown {
  width: 100%;
  justify-content: center;
  margin-top: 10%;
  display:inline-flex;
  flex-direction: column;
  align-items: center;
}

div {
  display: flex;
}
  
h2 {
  text-align: center;
  color:gray;
}

text {
  color: rgb(74, 74, 74);
  font-size: large;
}